.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
/* Redefines padding if screen is smaller. Padding is then set to 20 pixels from default 30 pixels.*/
@media only screen and (max-width: 40em) {
  .wrap {
    padding: 0 10px;
  }
}
