@font-face {
  font-family: 'checkbox';
  src: url('checkbox.eot'); /* IE9 Compat Modes */
  src: url('checkbox.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('checkbox.woff2') format('woff2'), /* Super Modern Browsers */
       url('checkbox.woff') format('woff'), /* Pretty Modern Browsers */
       url('checkbox.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('checkbox.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.checkbox {
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  outline: 0;
  vertical-align: baseline;
  font-style: normal;
  min-height: 17px;
  font-size: 1rem;
  line-height: 17px;
  min-width: 17px;
}

.checkbox .hidden + label {
  cursor: pointer;
  user-select: none;
}

.checkbox input[type=checkbox] {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0 !important;
  outline: 0;
  z-index: 3;
  width: 17px;
  height: 17px;
}

.checkbox input.hidden {
  z-index: -1;
}

.checkbox label {
  color: rgba(0,0,0,.87);
  transition: color .1s ease;
  position: relative;
  display: block;
  padding-left: 25px;
  outline: 0;
}

.checkbox label:hover,
.checkbox input:hover {
  color: rgba(0,0,0,.8);
}

.checkbox input:focus~label,
.checkbox input:focus~label:after {
  color: rgba(0,0,0,.95);
}

.checkbox input:checked~label:before {
  background: #FFF;
  border-color: rgba(34,36,38,.35);
}

.checkbox label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  content: '';
  background: #FFF;
  border-radius: .21428571rem;
  transition: border .1s ease,opacity .1s ease,box-shadow .1s ease,-webkit-transform .1s ease;
  transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
  transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease;
  border: 1px solid #D4D4D5;
}

.checkbox input:checked~label:after {
  font-family: 'checkbox';
  content: '';
}

.checkbox input:checked~label:after {
  opacity: 1;
  color: rgba(0,0,0,.95);
}

.checkbox label:after {
  position: absolute;
  font-size: 14px;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  text-align: center;
  opacity: 0;
  color: rgba(0,0,0,.87);
  transition: border .1s ease,opacity .1s ease,box-shadow .1s ease,-webkit-transform .1s ease;
  transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
  transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1;
}

.checkbox input:focus ~ label:before {
  background: #FFF;
  border-color: #96C8DA;
}
