.Select-control {
  border: 1px solid rgba(34, 36, 38, 0.15);
  cursor: pointer;
}

.Select-control :hover {
  border-color: rgba(34, 36, 38, 0.35);
  box-shadow: none;
}

.Select-option {
  border-top: 1px solid #fafafa;
  color: rgba(0, 0, 0, 0.87);
}

.Select-option:first-child {
  border-top: none;
}

.Select-option.is-selected {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}

.Select-option.is-focused {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
}


.Select-arrow {
  border-color: #4d4d4d transparent transparent;
}

.is-focused:not(.is-open) > .Select-control {
  border-color: rgba(34, 36, 38, 0.35);
  box-shadow: none;
}

.is-open > .Select-control {
  border-color: #96c8da;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

.Select-menu-outer {
  border-color: #96c8da;
  border-top: none;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
