/******************/
/* NORMAL BUTTONS */
/******************/
.button {
  -webkit-appearance: none;
  padding: 7px 10px;
  background-color: #e5e5e5;
  color: #222;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;

  border-radius: 2px;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 0;
}
.button:hover { background-color: #ddd; }

.button.primary,
.button.success,
.button.warning,
.button.alert {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
}

.button.primary { background-color: #3f8abf; }
.button.primary:hover { background-color: #4795cc; }

.button.success { background-color: #7da248; }
.button.success:hover { background-color: #90b45c; }

.button.warning { background-color: #ffae00; }
.button.warning:hover { background-color: #ffbe33; }

.button.alert { background-color: #ec5840; }
.button.alert:hover { background-color: #ee6c57; }

/******************/
/* HOLLOW BUTTONS */
/******************/
.button.hollow {
  background-color: transparent;
  text-shadow: none;
  font-weight: normal;
  color: #444;
  border: 1px solid #444;
}

.button.hollow:hover {
  background-color: transparent;
  border-color: #111;
  color: #111;
}

.button.hollow.primary {
  color: #3f8abf;
  border-color: #3f8abf;
}

.button.hollow.primary:hover {
  border-color: #2c6085;
  color: #2c6085;
}

.button.hollow.success {
  color: #7da248;
  border-color: #7da248;
}

.button.hollow.success:hover {
  border-color: #57762a;
  color: #57762a;
}

.button.hollow.warning {
  color: #ffbe33;
  border-color: #ffbe33;
}

.button.hollow.warning:hover {
  border-color: #cc8b00;
  color: #cc8b00;
}

.button.hollow.alert {
  color: #ec5840;
  border-color: #ec5840;
}

.button.hollow.alert:hover {
  border-color: #b42912;
  color: #b42912;
}

/* Other styles */
.fluid {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Button wrapper is used to center content in fluid layouts, and make sure icon is in the right place */
.button-wrapper {
  position: relative;
}

.no-style {
  background-color: transparent;
  padding: 0;
  padding-bottom: 1px;
  text-shadow: none;
  color: black;
  line-height: inherit;
  font-size: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.no-style:hover {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* Large */
.large {
  font-size: 20px;
}
