/* Sitewide styling */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/*********/
/* TABLE */
/*********/
table {
  width: 100%;
  background: #FFF;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: none;
  border-radius: .28571429rem;
  text-align: left;
  color: rgba(0,0,0,.87);
  border-collapse: separate;
  border-spacing: 0;
}

th {
  cursor: auto;
  background: #F9FAFB;
  text-align: inherit;
  color: rgba(0,0,0,.87);
  padding: .92857143em .78571429em;
  vertical-align: inherit;
  font-style: none;
  font-weight: 700;
  text-transform: none;
  border-bottom: 1px solid rgba(34,36,38,.1);
  border-left: none;
}

tr:first-child > th:first-child {
  border-radius: .28571429rem 0 0;
}
tr:first-child > th:last-child {
  border-radius: 0 .28571429rem 0 0;
}

tr td {
  border-top: 1px solid rgba(34,36,38,.1);
  padding: .78571429em;
  text-align: inherit;
}

tr:first-child td {
  border-top: none;
}

/* selectable table */
table.selectable td {
  padding: 0;
  cursor: pointer;
}

table.selectable tr:hover td {
  background-color: rgba(0,0,0,.05);
}

table.selectable a {
  display: block;
  color: inherit;
  padding: .78571429em;
  text-decoration: none;
}
