/*Main nav*/
.main-nav {
  background-color: whitesmoke;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 10px 0;
}

.nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  color: #444;
  text-decoration: none;
}

.brand {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.brand-text {
  font-size: 20px;
  font-weight: 300;
  color: #888;
  margin-bottom: 0;
}

.profile {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile-img {
  display: block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 3px solid whitesmoke;
  margin-right: 5px;
}

.login-button {
  margin-left: auto;
}
