/* --------------------------------------
    Fare thee well ye who enter here,
    for here be enough stupid CSS decisions to scare the any man.
    -------------------------------------*/

.tab-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px;
  border-radius: 100px;
  border: 1px solid #666;
  z-index: 100;
  background-color: white;
  display: inline-block;
}

.next, .back {
  border: none;
  background: #4CAF50;
  color: white;
  min-width: 110px;
  padding: 10px 5px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1px;
  cursor: pointer;
  position: relative;
  margin: 0 5px 0 5px;
}

.next:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top:0;
  right: -21px;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-left: 21px solid #4CAF50;
}

.back:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top:0;
  left: -21px;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-right: 21px solid #4CAF50;
}

.finished {
  background-color: #4CAF50;
  color:white;
  border: 1px solid transparent;
  position: relative;
  z-index: 101;
}

.tab-container:not(:first-child) .finished:before {
  content: '';
  position: absolute;
  width: 300px;
  height: 5px;
  left: 0;
  top:50%;
  transform: translate(-80%,-50%);
  background-color: #4CAF50;
  z-index: -1;
}

.tab-button-one {
  z-index: 100;
}
.tab-button-two {
  z-index: 99;
}
.tab-button-third  {
  z-index: 98;
}

.tabs {
  text-align: center;
}
.form-tab {
  margin-bottom: 20px;
  text-align: initial;
}

.tab-container {
  width: 33%;
  text-align: center;
}
.tab-one {

}

.tab-two {
  display: flex;
  flex-direction: column;
}
.tab-two label {

}
.hidden {
  display: none;
}

.tabs input[type="text"]{
  border-radius: 0;
}
#price {
  width: 100px;
}

#form-description {
  font-family: inherit;
  padding:5px;
  resize: vertical;
  border: 1px solid rgba(0,0,0,0.4);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

#price-affix {
}

.form-check{
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
}
.form-check input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checky {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #eee;
  border: 1px solid #999;
}
.form-check:hover input ~ .checky,
.form-check input:focus ~ .checky {
  background: #ccc;
}
.form-check input:checked ~ .checky {
  background: #2aa1c0;
  border: 1px solid transparent;
}
.form-check:hover input:not([disabled]):checked ~ .checky,
.form-check input:checked:focus ~ .checky {
  background: #0e647d;
  border: 1px solid transparent;
}
.form-check input:disabled ~ .checky {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.checky:after {
  content: '';
  position: absolute;
  display: none;
}
.form-check input:checked ~ .checky:after {
  display: block;
}
.form-check .checky:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form-check input:disabled ~ .checky:after {
  border-color: #7b7b7b;
}

.c1 {
  flex-grow:1;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
