/* CARD VIEW */
.card {
  display: block;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 3px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
  color: #222;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.name-and-price-wrapper {
  position: relative;
  padding-right: 100px; /* Same as seller image width */
  margin-top: 7px;
}

.card-image {
  margin: -15px -15px 0;
}

.card-image img {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card-seller {
  position: absolute;
  top: -57px; /* half of seller image height */
  right: 0;
}

.card-seller-image {
  display: block;
  border-radius: 50%;
  height: 100px;
  border: 3px solid whitesmoke;
}

.card-hr {
  border: 0;
  height: 1px;
  background-color: #e5e5e5;
  margin: 15px -15px;
}

.price {
  font-size: 28px;
  font-weight: 300;
}

.currency {
  font-size: 18px;
  font-weight: bold;
  color: #E2AA23;
}

#retweet {
  width: 24px;
  display: inline;
  vertical-align: middle;
}

#building {
  width: 24px;
  height: 20px;
  display: inline;
  vertical-align: middle;
}

.card-info {
  color: #999;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}
.card-info:last-child {
  margin-bottom: 0;
}

.card-rating {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

/* MAP VIEW */
.info-window-wrapper {
  text-decoration: none;
  color: #222;
}

/* CONTROL PANEL */
.control-panel {
  margin-bottom: 15px;
}

.filter-wrapper {
  background-color: whitesmoke;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 3px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}

.filter-wrapper .input {
  margin-bottom: 0;
  margin-right: 15px;
}

.filters {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
}

.view-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap row-reverse;
}

.view-wrapper .sort {
  width: 200px;
}
