.button-group .button {
  border-radius: 0;
}

.button-group .button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.button-group .button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right-width: 0;
}

.button-group .button.hollow {
  border-right-width: 0;
}

.button-group .button.hollow:last-child {
  border-right-width: 1px;
}
