.modal {
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #f9f9f9;
  margin: auto;
  padding: 20px;
  border-radius: 3px;
  max-width: 400px;
}

/* The close button */
.modal-close {
  position: absolute;
  top: 13px;
  right: 18px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* overrides */
.modal button {
  margin-bottom: 15px;
}

.modal h2 {
  text-align: center;
  margin-bottom: 15px;
}

.error-message,
.success-message {
  font-size: 1rem;
  text-align: center;
}
.error-message {
  color: #db2828;
}
.success-message {
  color: green;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .button:hover,.form .button:active,.form .button:focus {
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #6f6d6d;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

form ul {
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

ul li {
  color: #666;
  display: block;
  position: relative;
}
