.my-profile {
  display: flex;
  flex-direction: row;
}
.my-profile img {
  width: 200px;
}

.my-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-name {
  font-size: 40px;
}

.my-image {
  display: flex;
  flex-direction: column;
}
.my-travels {
  display: flex;
  flex-direction: column;
  margin: 2% 0 0 4%;
}

.my-travels-title {
  margin: 2% 0;
  font-size: x-large;
}

.image-form {
  display: none;
}

.input-image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-image + label {
    font-size: 17px;
    font-weight: 700;
    width: 150px;
    padding: 10px;
    color: white;
    background-color: #4CAF50;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.input-image:focus + label,
.input-image + label:hover {
    background-color: #3B9E40;
}

.input-image:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.upload-button {
  border: none;
  border-radius: 0;
  width: 150px;
  height: 100%;
  vertical-align: top;
  font-size: 17px;
  font-weight: 700;
}
