/*
Defaults screen size to 'small'
Uses '.small-#x {...}' based on arguments to <Col>.
Same principle with '.medium-#x {...}' and '.large-#x {...},
  though these are only used if the screen size is detected to be 'appropriate'.
*/

.small-1 { width: 8.33333%; }
.small-2 { width: 16.66667%; }
.small-3 { width: 25%; }
.small-4 { width: 33.33333%; }
.small-5 { width: 41.66667%; }
.small-6 { width: 50%; }
.small-7 { width: 58.33333%; }
.small-8 { width: 66.66667%; }
.small-9 { width: 75%; }
.small-10 { width: 83.33333%; }
.small-11 { width: 91.66667%; }
.small-12 { width: 100%; }

@media screen and (min-width: 40em) {
  .medium-1 { width: 8.33333%; }
  .medium-2 { width: 16.66667%; }
  .medium-3 { width: 25%; }
  .medium-4 { width: 33.33333%; }
  .medium-5 { width: 41.66667%; }
  .medium-6 { width: 50%; }
  .medium-7 { width: 58.33333%; }
  .medium-8 { width: 66.66667%; }
  .medium-9 { width: 75%; }
  .medium-10 { width: 83.33333%; }
  .medium-11 { width: 91.66667%; }
  .medium-12 { width: 100%; }
}

@media screen and (min-width: 64em) {
  .large-1 { width: 8.33333%; }
  .large-2 { width: 16.66667%; }
  .large-3 { width: 25%; }
  .large-4 { width: 33.33333%; }
  .large-5 { width: 41.66667%; }
  .large-6 { width: 50%; }
  .large-7 { width: 58.33333%; }
  .large-8 { width: 66.66667%; }
  .large-9 { width: 75%; }
  .large-10 { width: 83.33333%; }
  .large-11 { width: 91.66667%; }
  .large-12 { width: 100%; }
}

/*
This next section styles the appropriate classes to be visible or hidden.
(Usable for hiding certain elements if the screen size is too small,
  or vice versa for large screens.)
NOTE: The 'show-' and 'hide-' classes are implemented, but not yet used!
*/

@media screen and (min-width: 0) and (max-width: 39.9375em) {
  .hide-for-small-only { display: none !important; }
}

@media screen and (max-width: 0), screen and (min-width: 40em) {
  .show-for-small-only { display: none !important; }
}

@media screen and (min-width: 40em) {
  .hide-for-medium { display: none !important; }
}

@media screen and (max-width: 39.9375em) {
  .show-for-medium { display: none !important; }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .hide-for-medium-only { display: none !important; }
}

@media screen and (max-width: 39.9375em), screen and (min-width: 64em) {
  .show-for-medium-only { display: none !important; }
}

@media screen and (min-width: 64em) {
  .hide-for-large { display: none !important; }
}

@media screen and (max-width: 63.9375em) {
  .show-for-large { display: none !important; }
}

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .hide-for-large-only { display: none !important; }
}

@media screen and (max-width: 63.9375em), screen and (min-width: 75em) {
  .show-for-large-only { display: none !important; }
}

/*
Defines default padding to be 15 pixels
(2 * 7.5px)

Redefines padding if the screen is smaller;
padding will then be set to 10 pixels
(2 * 5px)
*/

.padded {
  padding: 0 7.5px;
}

@media only screen and (max-width: 40em) {
  .padded {
    padding: 0 5px;
  }
}
