.input {
  font-family: inherit;
  margin-bottom: 15px;
  width: 100%;
  outline: 0;
  font-size: 1rem;
  padding: 7.5px 15px;
  background: #FFF;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.9);
  border-radius: 3px;
  transition: box-shadow .1s ease,border-color .1s ease;
}

.input:focus {
  border-color: #85b7d9;
  background: #fff;
  color: rgba(0,0,0,.8);
}

.input.error {
  background-color: #FFF6F6;
  border-color: #E0B4B4;
  color: #9F3A38;
  box-shadow: none;
}
